@import "tailwindcss";

@font-face {
  font-family: "Coolvetica";
  src: url("../../assets/fonts/Coolvetica Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Coolvetica", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
